<h1>Operatives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operatives.each do |operative| %>
      <tr>
        <td><%= link_to 'Show', operative %></td>
        <td><%= link_to 'Edit', edit_operative_path(operative) %></td>
        <td><%= link_to 'Destroy', operative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operative', new_operative_path %>
