<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_area.name %>
</p>

<%= link_to 'Edit', edit_project_area_path(@project_area) %> |
<%= link_to 'Back', project_areas_path %>
