<div class="card mx-auto" style="width: 68rem;">
  <div class="card-body">
  <p>
    <strong>Major:</strong>
    <%= @student.major %>
  </p>
  </div>
  <p>
    <strong>Student code:</strong>
    <%= @student.student_code %>
  </p>
</div>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
