<div class="field">
  <%= label_tag :major, "Carrera" %>
  <%= select_tag :major, options_for_select(major_options().unshift(""), selected: "", disabled: ""), class: 'form-control'%>
</div>

<div class="field">
  <%= label_tag :student_code, "Matrícula" %><br />
  <%= text_field_tag :student_code, "", class: 'form-control' %>
</div>
