<p>
  <strong>Problema:</strong>
  <%= social_impact.problem %>
</p>

<p>
  <strong>Empatía:</strong>
  <%= social_impact.empathy %>
</p>

<p>
  <strong>Responsabilidad:</strong>
  <%= social_impact.responsibility %>
</p>
