<div class="show-project-details">
  <div>
    <strong>Problema:</strong><br>
    <%= social_impact.social_cause %>
  </div>

  <div>
  <br><strong>Empatía:</strong><br>
    <%= social_impact.social_commitment %>
  </div>

  <div>
  <br><strong>Responsabilidad:</strong><br>
    <%= social_impact.integrity %>
  </div>
</div>
