<div class="show-project-details">
  <div>
    <strong>Problema:</strong><br>
    <%= social_impact.problem %>
  </div>

  <div>
  <br><strong>Empatía:</strong><br>
    <%= social_impact.empathy %>
  </div>

  <div>
  <br><strong>Responsabilidad:</strong><br>
    <%= social_impact.responsibility %>
  </div>
</div>
