<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @academic_level.name %>
</p>

<%= link_to 'Edit', edit_academic_level_path(@academic_level) %> |
<%= link_to 'Back', academic_levels_path %>
