<div class="col-4">
  <div class="card" >
    <div class="project-card-header card-header" style="height: 90px;min-height: 90px; overflow: auto;">
      <div class="project-name text-center my-auto" style="overflow: hidden;">
        <h5><%= project_name(project) %></h5>
      </div>
    </div>
    <div class="img-card">
      <%= image_tag(virtual_sample.icon_image, width: '100%', height: '300px') rescue index_image %>
    </div>
    <div class="project-card-body">
      <div class="description-card"><%= project_description(project) %> </div> 
      <div class="text-center">
        <hr>
        <%= link_to 'Más Información', project_virtual_sample_path(project), :class => "btn btn-light" %>
      </div>
    </div>

  </div>
</div>




