<h1>Editing Virtual Sample</h1>

<%= render 'form', virtual_sample: @virtual_sample %>

<%= link_to 'Show', project_virtual_sample_path, :class => "btn btn-light" %>
<%= link_to 'Back', virtual_samples_path, :class => "btn btn-light" %>
