<p>
    Por este medio te notificamos que el alumno <b><%= @student_name %></b>
     lo a registrado a usted como <b>Profesor Mentor</b> de su proyecto 
     <b><%= @project_name %></b> en <b>Conexión Tec</b>.
</p>
<p>
    Si este es el caso y desea apoyar a los alumnos involucrados, le pedimos
    que entre a la plataforma y revise, evalue y consecuentemente acepte este
    proyecto.
</p>
<p>
    Si usted no desea formar parte porfavor haga caso omiso de este correo
</p>