<div class="content">
  <h1>Editar Profesor</h1>
  <%= render 'form', professor: @professor %>
  <%= link_to 'Mostrar', @professor ,:class => "btn btn-light" %> |
  <%= link_to 'Regresar', professors_path,:class => "btn btn-light" %>
</div>
