<div class="content">
  <h3>Proyectos</h3>
  <br />
  <div class="row">
    
    <div class="col-md-12">
      <% @projects.each do |project| %>
        <%= render "projects/project_card", project: project %>
      <% end %>
    </div>
  </div>
  <div class="content-actions">
    <%= link_to 'Nuevo proyecto', new_project_path, :class => "btn btn-light" %>
  </div>
</div>
