/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Styles retrieved from: https://bootsnipp.com/snippets/GQ3Pl */

.banner-sec {
  background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content:" ";
  width:200px;
  height:5px;
  background:#FFF;
  display:block;
  margin-top:10px;
  border-radius:3px;
}
.banner-text p {
  color: #fff;
}
.body-gradient {
  background:rgba(227,24, 124, 0.8);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(4, 49, 133, 0.8), rgba(164, 43, 202, 0.8),rgba(227,24, 124, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(4, 49, 133, 0.8), rgba(164, 43, 202, 0.8),  rgba(227,24, 124, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-color: transparent;
  height: 100vh;
}
.border-right {
  border-right: 1px solid black;
}
.card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: left;
  margin-bottom: 16px;
  height: 700px;
  position: relative; 
}

.proyect-card-header {
  margin: 0px !important;
}
.project-card-body {
  padding: 8px 24px;
  height: 100%;
}
.card-info {
  font-size: 12px;
  margin-bottom: 8px;
}
.container {
  margin-top: 80px;
  background:#fff;
  border-radius: 10px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}
.card-footer {
  background-color: white !important;
}

.content {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-size: 15px;
  margin: 24px 48px;
  padding: 24px 24px;
  position: relative;
  text-align: center;
  width: 90%;
  border-radius: 24px;
}



.content-actions {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-show {
  width: 600px;
  display: inline-block;
  text-align: left;
}
.carousel-inner {
  border-radius:0 10px 10px 0;
}
.evaluation {
  margin-top: 40px;
  justify-content: space-evenly;
  padding: 0px 48px 0px 48px;
}
.filters-container {
  margin-bottom: 8px;
}
.filters {
  justify-content: center;
}
.login-sec {
  margin-top: 20px;
}
.login-sec-userable {
  margin-top: 145px;
  padding-bottom: 20px;
}
.login-sec h2 {
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: rgba(227,24, 124, 0.8);
}
.login-sec-logo {
  width: 200px;
  height:40px;
  margin-bottom: 20px;
  margin-left: 75px;
}
.navbar-nav {
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}
.navbar-current-user {
  text-align: center;
  width: 200px;
}
.navbar-expand-lg {
  background-color: rgba(255,255,255,0.4);
  letter-spacing:1px;
}
.navbar a:active, .navbar a{
  color: rgba(4, 49, 133, 0.8);
}
.navbar a:hover{
  background-color: rgba(0,0,0,0.06);
  border-radius: 5px;
}

/* Table */
table, tr, td, th, tbody, thead, tfoot {
  font-size: 12px;
  text-align: left;
  page-break-inside: avoid !important;
}

/* Registration */
#judge-registration {
  display: none;
}
#professor-registration {
  display: none;
}
#student-registration {
  display: none;
}

#visitor-registration {
  display: block;
}

#institution{
  display: none;
}

#isExternal {
  display: none;
}

#isTec {
  display: none;
}

#alertnotice{ 
  display: block;
  font-size: medium;
  font-weight: 200;
  color: #2f7dfa;
  
} 

#isVisitor{
  display: none;
}

#g-color{
  background-color: red !important;
}


.description-card{
  height: 220px;
  overflow-y: auto;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

div::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

div::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}

div::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}


