// Place all the styles related to the Editions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edition{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .edition-field{
    width: 33%;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }
  }
}
.phase{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
  padding: 10px;
  
  .phase-title{
    font-size: medium;
    font-weight: bold;
    border: none;
    width: 100%;
    text-align: center; 
  }
  .phase-field{
    width: 33%;
    @media (min-width: 320px) and (max-width: 650px) {
      width: 100%;
    }
  }
  .links{
    display: block;
    width: 50%;
  }
}
.save-button{
  display: block;
  text-align: center;
  padding-bottom: 10px ;
}
