.user-header {
    display: flex;
    align-items: baseline;
}

.h1-users {
    border-bottom: none;
}

.btn-create-user {
    margin: 0 0 0 2%;
}

.td-see-user{
    width: 60%;
    text-align: end;
}