// Place all the styles related to the VirtualSamples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.media {
  height: 100%;
  width: 100%;
}

.row {
  margin: 0 !important;
  padding: 25px;
}

.sample-header {
  h3 {
    display: inline-block;
  }
}

.sample-description {
  font-size: 12px;
  text-align: left;

  button {
    background-color: rgba(4, 49, 133, 0.8);
    color: white;

    &:hover {
      background-color: rgba(4, 49, 133, 1);
      color: whitesmoke;
    }
  }

  .description {
    overflow: scroll;
  }
}

.sample-buttons {
  height: 50px;

  span {
    background-color: rgba(227,24, 124, 0.8);;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 2px 10px;
  }
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-item.active {
  .page-link {
    background-color: rgba(4, 49, 133, 0.8) !important;
    border-color: rgba(4, 49, 133, 0.8) !important;
  }
}
/* Comment Section */

small {
  font-weight: 400;
  line-height: 1;
  color: #777;
  font-size: 65%;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}

.comments-list .media{
  margin-top: 15px;
  border-bottom: 1px dotted #ccc;
}