<p>¡Bienvenid@ a Conexión Tec <%= @resource.full_name %>!</p>

<p>Por favor complete su proceso de registro haciendo click en la siguiente liga para confirmar su correo electrónico:</p>

<p><%= link_to 'Confirmar mi correo', confirmation_url(@resource, confirmation_token: @token) %></p>
