<p>¡Hola <%= @resource.full_name %>!</p>

<p>Se ha realizado una petición de cambio de contraseña. Haga clic en la liga de abajo para realizar este cambio:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no realizó la petición puede ignorar este correo.</p>
<p>Su contraseña no se actualizará hasta que siga con las instrucciones de la liga de arriba.</p>
