<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <% if current_user.professor? || current_user.student? || current_user.committee_member? || current_user.judge? || current_user.administrator?  %>
        <a class="nav-item nav-link" href="/virtual_samples">Muestra Virtual <span class="sr-only">(current)</span></a>
      <% end %>

      <% if current_user.professor? || current_user.student? || current_user.committee_member? || current_user.judge? || current_user.administrator?%>
        <a class="nav-item nav-link" href="/projects">Proyectos <span class="sr-only">(current)</span></a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/judges">Jueces</a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/professors">Profesores</a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/editions">Edicion</a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/judge_evaluations">Evaluaciones</a>
      <% end %>

      <% if current_user.professor? || current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/project_status">Estatus de proyectos</a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/select_projects">Seleccionar Proyectos</a>
      <% end %>
      
      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/students">Alumnos</a>
      <% end %>

      <% if current_user.administrator?  %>
        <a class="nav-item nav-link" href="/mailing_center">Correos</a>
      <% end %>

      <div class="navbar-current-user" style="position:absolute; right:0px;">
        <strong>
          <%= link_to current_user.first_name, edit_user_path(current_user), :class => 'navbar-link'%>
        </strong> |
        <%= link_to "Cuenta", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
      </div>
    </div>
  </div>
</nav>
