<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
    <div class="navbar-nav">
      
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Proyectos
        </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% if current_user.professor? || current_user.student? || current_user.committee_member? || current_user.judge? || current_user.administrator?%>
              <li><a class="dropdown-item" href="/projects">Todos los Proyectos <span class="sr-only">(current)</span></a></li>
            <% end %> 
            <% if current_user.professor? || current_user.committee_member? || current_user.administrator?  %>
              <li><a class="dropdown-item" href="/project_status">Estatus de proyectos</a></li>
            <% end %>
            <% if current_user.committee_member? || current_user.administrator?  %>
              <li><a class="dropdown-item" href="/select_projects">Seleccionar Proyectos</a></li>
            <% end %>
            <% if current_user.committee_member? || current_user.administrator?  %>
              <li><a class="dropdown-item" href="/judge_evaluations">Evaluaciones</a></li>
            <% end %>
          </ul>
      </li>

      <% if current_user.administrator? || current_user.committee_member? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/users">Todos los Usuarios</a></li>
              <li><a class="dropdown-item" href="/students">Alumnos</a></li>
              <li><a class="dropdown-item" href="/judges">Jueces</a></li>
              <li><a class="dropdown-item" href="/professors">Profesores</a></li>
              <li><a class="dropdown-item" href="/committee_members">Comité</a></li>
          </ul>
        </li>
      <% end %>

      <% if (current_user.professor? || current_user.student? || current_user.committee_member? || current_user.judge? || current_user.administrator? || current_user.is_visitor?) && get_current_phases_names(Edition.find(get_current_edition_id)).include?("Muestra Virtual")  %>
        <a class="nav-item nav-link" href="/virtual_samples">Muestra Virtual <span class="sr-only">(current)</span></a>
      <% end %>

      <% if current_user.committee_member? || current_user.administrator?  %>
          <a class="nav-item nav-link" href="/editions">Edicion</a>
      <% end %>

      <% if current_user.administrator?  %>
        <a class="nav-item nav-link" href="/mailing_center">Correos</a>
      <% end %>

      <div class="navbar-current-user" style="position:absolute; right:0px;">
        <strong>
          <%= link_to current_user.first_name, edit_user_path(current_user), :class => 'navbar-link'%>
        </strong> |
        <%= link_to "Cuenta", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
      </div>
    </div>
  </div>
</nav>
