<h1>Committee Members</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committee_members.each do |committee_member| %>
      <tr>
        <td><%= link_to 'Show', committee_member %></td>
        <td><%= link_to 'Edit', edit_committee_member_path(committee_member) %></td>
        <td><%= link_to 'Destroy', committee_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee Member', new_committee_member_path %>
